<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; gap: 30px;">
    <h2>1 USD</h2>
    <h2>{{ aed }} AED</h2>
    </div>
    <div style="display: flex; gap: 30px;">
        <h2>1 USD</h2>
        <h2>{{ uzs }} UZS</h2>
    </div>
    <div style="display: flex; gap: 30px;">
        <h2>1 USD</h2>
        <h2>{{ azn }} AZN</h2>
    </div>
</body>
</html>